<div class="content">
  <div class="login">
    <input id="username" type="text" placeholder="Email" />
    <input id="password" type="password" placeholder="Password" />
    <button id="login_btn" type="button" name="button">Login</button>
  </div>
  <div class="create">
    <button id="create_btn" type="button" name="button">Create</button>
  </div>
</div>
